@import './login.css';
@import './my.css';

body{
    margin: 0;
    padding: 0;
}
/* 长条按钮 */
.strip_btn{
        height: 2.75rem;
        width: 55%;
        margin: .3125rem auto 0 auto;
        border-radius: 1.375rem;
        text-align: center;
        background: linear-gradient(-45deg, rgb(140, 60, 243), rgb(227, 130, 121));
    }
    .strip_btn p{
        font-size: 1rem;
        color: white;
        padding-top: .625rem;
    }

.main_bg{
    background: linear-gradient(to bottom,rgb(57, 57, 73),rgb(34, 34, 44));
    width: 100vw;
    height: 100vh;
}
.test_color{
    height: 100%;
}
.card_bg{
    width: 90%;
    min-height: 12.5rem;
    border-radius: .625rem;
    /* box-shadow: 5px 5px 5px #888888; */
    margin: 3.125rem auto 0 auto;
    background: #393949;
}
.footer{
        background-image:linear-gradient(-45deg, rgb(195, 101, 204), rgb(131, 98, 231));
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 1.875rem;
        position: absolute;
        left: calc(50% - 1.875rem);
        bottom: -1.875rem;
        text-align: center;
}
    .footer_i{
        padding-top: .625rem;
        text-align: center;
    }
    .footer_p{
        margin-top: 1.25rem;
        font-size: .875rem;
        color: grey;
    }

/* 顶部功能栏 */
    .topNav_div{
        height: 2.5rem;
        width: 96%;
        margin: 0 auto;
        padding: .625rem;
        display: flex;
    }
    .topNav_div_son{
        flex: 1;
        height: 100%;
    }
    .topNav_div_son:nth-child(1){
        text-align: left;
    }
    .topNav_div_son:nth-child(2){
        text-align: center;
    }
    .topNav_div_son:nth-child(3){
        text-align: right;
    }
    .topNav_div img{
        display: inline-block;
        width: 1.75rem;
    }
    .topNav_h1{
        display: inline-block;
        color:white;
        font-weight: 500;
        font-size: 1.375rem;
        margin-top: -3px
    }

/**/
.ivu-input{
    height: 2.5rem!important;
    font-size: 1rem!important;
}
.ivu-input-prefix i, .ivu-input-suffix i{
    line-height: 2.5rem!important;
    font-size: 1.5rem!important;
}

/* 底线输入框  确认按钮 */
.alter_name{
        width: 87%;
        margin: 1.875rem auto 0 auto;
    }
    .alter_name p{
        font-size: 1rem;
        font-weight: 500;
        color: white;
    }
    .alter_name_input{
        border:0;border-bottom:1px solid #666666;
        background:#363645;
        height: 2.5rem;
        width: 100%;
        margin-top: .625rem;
        font-size: 1rem;
        color: #666666;
        outline:none;
    }
    .location{
        position: fixed;
        bottom: 2.5rem;
        left: 5.25rem;
    }


/* 导出私钥 keyStore */

    .derive_main{
        height: 200px;
        width: 87%;
        margin: 0 auto;
        margin-top: 1.875rem;
    }
    .derive_main_span span{
        color:#F56D6D;
        vertical-align: middle;
    }
    .derive_main_div{
        width: 100%;
        height: 15.625rem;
        margin-top: 1.25rem;
        border-radius: .625rem;
        background: #393949;
        box-shadow: #22222C 0px 0px 10px;
        padding-top: 1.25rem;
    }
    .derive_main_text{
        display: inline-block;
        background: #F0F0F0;
        width:calc(100% - 2.5rem);
        height: 13.125rem;
        margin-left: 1.25rem;
        border-radius: .625rem;
        padding: 1.25rem;
        font-size: 1rem;
        outline: none;
        color:#999999;
    }
